asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
colorama==0.4.6
Django==3.2.20
idna==3.4
phonenumbers==8.13.19
Pillow==9.5.0
pypng==0.20220715.0
PyQRCode==1.2.1
pytube==15.0.0
pdf2docx
pytz==2023.3
qrcode==7.4.2
requests==2.31.0
soupsieve==2.4.1
sqlparse==0.4.4
typing-extensions==4.7.1
urllib3==1.26.6
gunicorn
youtube-dl==2021.12.17
pdf2docx
pytesseract
PyPDF2
faker
pypandoc
djangorestframework
scikit-learn
