{% load static %}
<!DOCTYPE html>
<html>
<head>
   <style>
    
body {
    margin: 0;
    padding-bottom: 60px; /* Adjust according to footer height */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the page fills the screen height */
}
.content {
    flex: 1;
    /* Other content styles */
}
.footer {
    background-color: #000000;
    color: #ebdddd;
    text-align: right;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4%; 
    font-size: 0.75rem;
}
a {
  text-decoration: none;
}

    </style>
</head>
<body>

    <div class="footer">
        <p>© <a target="_blank" href="https://github.com/satheesh22g/">Satheesh22g</a></p>
    </div>
</body>
</html>
