<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {% include 'nav.html' %}

    <header class="bg-secondary text-white text-center py-5 mt-5">
        <h1>About VersaToolbox</h1>
    </header>
    <section class="container my-4">
        <div class="row">
            <div class="col-md-12">
                <h2>Welcome to My Hobby Project!</h2>
                <p>
                    Welcome to VersaToolbox, my personal hobby project that's all about exploring technology and having fun with
                    coding. This app is the result of my passion for building useful and interesting tools for the online
                    community.
                </p>
            </div>
        </div>
    </section>
    <section class="container my-4">
        <div class="row">
            <div class="col-md-12">
                <h2>What Drives Me</h2>
                <p>
                    I started this project because I wanted to explore more about web development and Python, and I've always
                    been fascinated by the endless possibilities of the internet. What keeps me going is the joy of creating
                    something from scratch and the hope that it can be helpful to others.
                </p>
            </div>
        </div>
    </section>
    <section class="container my-4">
        <div class="row">
            <div class="col-md-12">
                <h2>Current Features</h2>
                <ul>
                    <li><strong>QR Code Scanner and Generator:</strong> Generate and scan QR codes for various purposes.</li>
                    <li><strong>YouTube Video Downloader:</strong> Download videos from YouTube for offline viewing.</li>
                    <li><strong>File Converter:</strong> Convert files between different formats with ease.</li>
                    <li><strong>Zodiac Sign Calculator:</strong> Explore traits and characteristics based on zodiac signs.</li>
                    <li><strong>Cricket Live Score:</strong> Stay updated with live cricket scores and match details.</li>
                    <li><strong>Phone Number Details:</strong> Retrieve information about phone numbers.</li>
                    <li><strong>Data Extraction from Image/PDF:</strong> Extract data from images or PDF files.</li>
                    <li><strong>Plagiarism Detector:</strong> Check for plagiarism in text or documents.</li>
                    <li><strong>Fake Address Generator:</strong> Generate fictitious addresses for various purposes.</li>
                    <li><strong>Quote Generator:</strong> Get inspirational and motivational quotes on demand.</li>
                    <li><strong>Recipe Generator:</strong> Generate recipes for various cuisines and dishes.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="container my-4">
        <div class="row">
            <div class="col-md-12">
                <h2>The Creator</h2>
                <p>
                    I'm Satheesh, a Python Developer by day and a coding enthusiast by night. When I'm not typing away on my
                    keyboard, you can find me @flashbulb.
                </p>
            </div>
        </div>
    </section>
    <section class="container my-4">
        <div class="row">
            <div class="col-md-12">
                <h2>Contact and Connect</h2>
                <p>
                    This project is a journey, and I'd love to have fellow travelers join me. If you have questions,
                    suggestions, or just want to chat about tech and hobbies, feel free to drop me a line at <a
                        href="https://www.instagram.com/direct/t/17843516517045018/">click here</a>.
                </p>
            </div>
        </div>
    </section>
    <footer class="bg-dark text-white text-center py-4">
        <p>
            Thank you for visiting VersaToolbox. I hope you find this hobby project as enjoyable to use as it was for me
            to build. Let's continue this journey together, exploring the possibilities that coding and the digital
            world have to offer!
        </p>
    </footer>

    <!-- Bootstrap JS (jQuery, Popper.js, Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
