{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'qr_maker/css/index.css' %}">
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="square twitch" style="margin-bottom: 50px;">
                    <span class="one" ></span>
                    <span class="two"></span>
                    <span class="three"></span>
                    <div class="circle">
                        <h3 class="DrugRadar"> VersaToolbox
                   
                        </h3>
                        <p>Crafting My Own Versatile Personal App!</p>
                    </div>
                </div>
    
                <a href="/dashboard/" class="button" target="_parent">
                        <span class="actual-text">&nbsp;Dashboard&nbsp;</span>
                        <span class="hover-text" aria-hidden="true">&nbsp;Dashboard&nbsp;</span>
                </a>
            </div>
        </div>
</body>    
    </html>