{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zodiac Calculator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'qr_maker/css/zodiac.css' %}">
</head>
<body>
      {% include 'nav.html' %}
    <div class="card-container">
        <div class="card-title">Know Your Zodiac Sign</div>

        {% if astro_sign %}
            <div class="zodiac-display">
                <img src="{{ icon_url }}" alt="{{ astro_sign }} Icon" class="zodiac-icon">
                <div class="zodiac-name">{{ astro_sign }}</div>
            </div>
            <a href="{% url 'zodiac_sign' %}" class="back-link">Back</a>
        {% else %}
            <form method="post">
                {% csrf_token %}
                <input type="date" name="birthdate" class="form-input" required>
                <button type="submit" class="submit-button">Submit</button>
            </form>
        {% endif %}
    </div>
</body>
</html>
